@{
    // Retrieve the TempData and cast it to a List<string>
    List<string> SomList = TempData["myList"] as List<string>;
}

<div>
    @if (SomList != null && SomList.Count > 0)
    {
        foreach (var item in SomList)
        {
            <p>item</p>
        }
    }
    else
    {
        <p>No data</p>
    }
</div>
<p>Hello</p>


